[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Experiments on Phython
[access "refs/*"]
	owner = group user/The Programmers Book (theprogrammersbook)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/The Programmers Book (theprogrammersbook)
	label-Verified = -1..+1 group user/The Programmers Book (theprogrammersbook)
	push = group user/The Programmers Book (theprogrammersbook)
	read = group user/The Programmers Book (theprogrammersbook)
	rebase = group user/The Programmers Book (theprogrammersbook)
	removeReviewer = group user/The Programmers Book (theprogrammersbook)
	submit = group user/The Programmers Book (theprogrammersbook)
[access "refs/heads/*"]
	create = group user/The Programmers Book (theprogrammersbook)
	push = +force group user/The Programmers Book (theprogrammersbook)
	pushMerge = group user/The Programmers Book (theprogrammersbook)
	read = group user/The Programmers Book (theprogrammersbook)
[access "refs/tags/*"]
	push = group user/The Programmers Book (theprogrammersbook)
	push = +force group user/The Programmers Book (theprogrammersbook)
